html {
    font-family: 'Inter';
    width: 100%;
    margin: 0;
}

body {
    background-color: #FEF3E7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 6px;
}

.header-links>ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.header-links>ul>li {
    display: inline-block;
    padding: 0px 24px;

}

.header-a {
    text-decoration: none;
    color: #22031F;
    display: inline-block;
    position: relative;
}

.header-a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: #22031F;
    transition: width .25s ease-out;
}

.header-a:hover::after {
    width: 100%;
}

.contact-links>a>img {
    height: 30px;
    width: 30px;
    padding: 0px 4px;
    object-fit: cover;

}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 180px;
    height: 300px;
}

.main-section {
    padding: 12px;
}

.main-text>p {
    font-size: 25px;
}

.main-buttons {
    display: flex;
    justify-content: space-between;
}

.main-buttons>.button {
    font-family: 'Inter';
    font-size: 20px;
    color: white;
    background-color: #22031F;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border-radius: 16px;
    padding: 30px;

    margin: 10px;
}

.main-section {
    display: flex;
}

.footer {
    height: 150px;
    bottom: 0;
    background-color: #22031F;
    padding: 40px;
    align-items: center;
    justify-items: center;
    text-align: center;
    color: #FEF3E7;
}
