html {
    font-family: 'Inter';
}

body {
    background-color: #FEF3E7;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 6px;
    border-style: dashed;
}

.header-links>ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.header-links>ul>li {
    display: inline-block;
    padding: 0px 24px;

}

a {
    text-decoration: none;
    color: #22031F;
}

.contact-links>a>img {
    height: 30px;
    width: 30px;
    padding: 0px 4px;
    object-fit: cover;

}

.main {
    display: flex;
    flex-direction: column;
    border-style: dashed;
    padding: 180px;
}

.main-section {
    padding: 12px;
}

.main-text>p {
    font-size: 25px;
}

.main-buttons {
    display: flex;
    justify-content: space-between;
}

.main-buttons>button {
    font-family: 'Inter';
    font-size: 16px;
    color: white;
    background-color: #22031F;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    padding: 18px;
    height: 70px;
    width: 140px;
    margin: 10px;
}

.main-section {
    display: flex;
}

.footer {
    height: 90px;
    width: 100%;
    background-color: #22031F;
    border-style: dashed;
}