html {
    font-family: 'Inter';
    width: 100%;
    margin: 0;
}

body {
    background-color: #FEF3E7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 6px;
}

.header-links>ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.header-links>ul>li {
    display: inline-block;
    padding: 0px 24px;

}

.header-a {
    text-decoration: none;
    color: #22031F;
    display: inline-block;
    position: relative;
}

.header-a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: #22031F;
    transition: width .25s ease-out;
}

.header-a:hover::after {
    width: 100%;
}

.contact-links>a>img {
    height: 30px;
    width: 30px;
    padding: 0px 4px;
    object-fit: cover;

}

.main {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 150px;

}

.main-about {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 120px;
    gap: 120px;

}

.port-photo {
    max-width: 30%;
    max-height: auto;
    width: 30%;
    height: auto;
    min-width: 500px;
    min-height: auto;
    flex-shrink: 0;
    object-fit: cover;
}

.about-para {
    width: 70%;
    min-width: 600px;
    overflow: hidden;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .main-about {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 40px 20px;
    gap: 30px;
    }

    .port-photo {
    width: 80px;
    max-width: 350px;
    }

.about-para {
    width: 100%;
    }
}


.main-section {
    padding: 12px;
}

.main-text>p {
    font-size: 25px;
}

.main-buttons {
    display: flex;
    gap: 50px;
}

.main-buttons>.button {
    font-family: 'Inter';
    font-size: 20px;
    color: white;
    background-color: #22031F;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border-radius: 16px;
    padding: 30px;

    margin: 10px;
}

.main-section {
    display: flex;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #22031F;
    padding: 40px;
    text-align: center;
    color: #FEF3E7;
}
