html {
    font-family: 'Inter';
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #FEF3E7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 6px;
    flex-shrink: 0;
    min-height: 8vh;
}

.header-links>ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.header-links>ul>li {
    display: inline-block;
    padding: 0px 24px;

}

.header-a {
    text-decoration: none;
    color: #22031F;
    display: inline-block;
    position: relative;
    flex-shrink: 0;
}

.header-a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: #22031F;
    transition: width .25s ease-out;
}

.header-a:hover::after {
    width: 100%;
}

.contact-links>a>img {
    height: 30px;
    width: 30px;
    padding: 0px 4px;
    object-fit: cover;
    flex-shrink: 0;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 150px;

}

.main-text>h1 {
    color: #AA3C3C;
    font-size: 40px;
}

.main-text>p{
    font-size: 34px;
}

.main-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 150px;
    gap: 50px;

}

.port-photo {
    max-width: 30%;
    max-height: auto;
    width: 30%;
    height: auto;
    min-width: 400px;
    min-height: auto;
    flex-shrink: 0;

}

.about-para {
    display: flex;
    flex-direction: row;
    width: 80%;
    overflow: hidden;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.about-para>h1 {
    color: #22031F
}

@media (max-width: 1200px) {
    .main-about {
        padding: 40px 20px;
    }

    .about-para {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .port-photo {
        width: 80%;
        max-width: 350px;
        min-width: unset;
    }

    .about-text {
        width: 100%;
        text-align: center;
    }
}

.main-section {
    padding: 12px;
    text-align: center;
}

.main-text>p {
    font-size: 25px;
}

.main-buttons {
    display: flex;
    gap: 50px;
}

.main-buttons>.button {
    font-family: 'Inter';
    font-size: 20px;
    color: white;
    background-color: #22031F;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border-radius: 16px;
    padding: 30px;
    margin: 10px;

    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.main-section {
    display: flex;
}

.main-exp {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 150px;
}

.port-photo {
    border-style: outset;
    border-color: #22031F;
}

.main-proj {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 150px;
}

.main-exp {
    display: flex;
    min-height: 60vh;
    padding: 150px;
    gap: 40px;

}

.section-header {
    color: #AA3C3C;
    font-size: 40px;
}

.exp-card {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #22031F;
    border-radius: 25px;
    padding: 40px;
    min-width: unset;
    max-width: 40%;
    transition: border-color 0.3s ease;

}

.exp-card:hover {
    border-color: #AA3C3C;
    cursor: pointer;
}

.card-header-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 40px;
}

.card-header {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card-header>h3 {
    color: #AA3C3C;
    font-size: 32px;
    padding-bottom: 10px;

}

.card-header>p {
    font-size: 24px;

}

.card-date {
    font-size: 24px;

}

.card-header h3,
.card-header p,
.card-date {
    margin: 0;


}

.card-desc {
    font-size: 20px;

}

.card-desc>h3 {
    color: #AA3C3C;
}

.card-desc ul {
    margin-bottom: 24px;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #22031F;
    padding: 40px;
    text-align: center;
    color: #FEF3E7;
}